@import "tailwindcss";

@theme inline {
  --font-display: var(--font-gambarino);
  --font-sans: var(--font-raleway);
}

/* Background Effects */
.glow-background {
  background-color: hsla(0, 0%, 0%, 0);
  background-image:
    radial-gradient(at 29% 43%, hsla(190, 70%, 90%, 0.08) 0px, transparent 50%),
    radial-gradient(at 53% 28%, hsla(190, 90%, 90%, 0.18) 0px, transparent 50%),
    radial-gradient(at 47% 71%, hsla(190, 70%, 90%, 0.13) 0px, transparent 40%),
    radial-gradient(at 3% 95%, hsla(190, 0%, 10%, 0.2) 0px, transparent 50%),
    radial-gradient(at 3% 3%, hsla(140, 80%, 10%, 0.2) 0px, transparent 50%),
    radial-gradient(at 90% 5%, hsla(200, 80%, 5%, 0.2) 0px, transparent 50%),
    radial-gradient(at 90% 80%, hsla(230, 80%, 10%, 0.2) 0px, transparent 50%);
}

/*  
    to_bottom: El gradiente va desde la parte superior (top) hacia la parte inferior (bottom). 
    
    rgba(0, 0, 0, 0)_70%: El color del gradiente comienza siendo completamente transparente (rgba(0, 0, 0, 0) 
    significa negro con 0% de opacidad) y se mantiene así hasta el 70% de la altura de la imagen (desde arriba).
    
    rgba(0, 0, 0, .15)_100%: Desde el 70% hasta el 100% (la parte inferior de la imagen),el gradiente transiciona a un color negro muy sutilmente opaco (rgba(0, 0, 0, .15) 
    significa negro con 15% de opacidad). 
*/

@layer utilities {
  .mask-image-reflection-fade {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, .15) 100%);
  }
}

/* Animation Keyframes */
/* Define una animación de "aparición gradual"(fade-in) con un ligero desplazamiento vertical y escalado. */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.98);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* Define una animación de "desvanecimiento"(fade-out) con un ligero desplazamiento vertical y escalado. */
@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  to {
    opacity: 0;
    transform: translateY(-20px) scale(0.98);
  }
}

/* Default View Transitions */
/* Define las animaciones por defecto para las transiciones de vista de página completa. */
::view-transition-old(root) {
  animation: 0.5s cubic-bezier(0.33, 1, 0.68, 1) both fade-out;
}

::view-transition-new(root) {
  animation: 0.8s cubic-bezier(0.22, 1, 0.36, 1) both fade-in;
}

/* Persistent Elements */
/* Configura elementos para que "persistan" o tengan transiciones especiales durante la navegación. */


/* Cuando haya una transición de página con la clase navbar tanto la pagina de inicio como la de destino
 mantendran el elemento con navbar intacto */
.navbar {
  view-transition-name: navbar;
}

/* Cuando haya una transición de página con la clase nav-drawer-blur tanto la pagina de inicio como la de 
 destino se le aplica una animación por defecto de blur */
.nav-drawer-blur {
  view-transition-name: nav-drawer-blur
}

.nav-drawer {
  view-transition-name: nav-drawer
}

/* Cuando haya una transición de página con la clase footer tanto la pagina de inicio como la de destino
 mantendran el elemento con footer intacto */
.footer {
  view-transition-name: footer;
}


/* Desactiva las animaciones por defecto para la barra de navegación y el pie de página */
::view-transition-old(navbar),
::view-transition-new(navbar),
::view-transition-old(footer),
::view-transition-new(footer) {
  animation: none;
}

/* Reduced Motion Preferences */
/* Adapta las animaciones para usuarios que prefieren movimiento reducido. */
@media (prefers-reduced-motion: reduce) {

  ::view-transition,
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation-duration: 0.001s;
  }
}